.container{
    width:1000px;
    height:500px;
    background-color: aqua;
    border: 1px solid black;
    display:flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px ;
    
    


    
}

.item{
    width:100px;
    height: 100px;
    background-color: brown;
    border: 1px solid black;
    color: white;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}

.item2{
    order:-1;
    flex-grow:2;
    align-self: flex-end;
}
    
    
    
